/* NOTE: Tara is in the midst of reorganizing our style sheet so it's uh... more organized. Yeah. */

/* POSITIONING - - - - - - - - */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    padding-top: 1%;
    text-align: center;
}

#games-popover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: #0d2c5e;
}

main {
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 120px;
}

main div {
    display: flex;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

#emoji {
    display: block;
}

.button-like {
    padding-top: 12px;
    text-align: center;
    width: 200px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.topButton {
    float: left;
    height: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12%;
    padding-bottom: 1%;
}

footer li {
    display: inline-block;
}

.bottomspace {
    margin-bottom: 18%;
}

/* TYPOGRAPHY - - - - - - - - */

body {
    font-family: 'Baloo Paaji', sans-serif;
    font-size: 1.3rem;
}

header {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Baloo Paaji', sans-serif;
    letter-spacing: 6px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

.button-like {
    font-family: 'Amatic SC', monospace;
}

footer {
    text-align: center;
    font-family: 'Baloo Paaji', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

/* COLORS - - - - - - - - */

body {
    background-color: #0d2c5e;
    color: white;
}

header {
    background-color: #ffb4b4;
}

h2 {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: #ED43AB;
}

button:hover {
    color: #ED43AB;
    background-color: #ffb4b4;
}

.button-like {
    background-color: #ED43AB;
}

footer {
    background-color: #DBB6B6;
}

/* - - - - - - */

/* Listen Button Colors */

/* White */

#whiteNoise, #whiteNoisePinkOver, #whiteNoiseBrownOver, #whiteNoiseBlueOver, #whiteNoiseVioletOver, #whiteNoiseGreyOver {
    background-color: #ffffff;
    color: #DBB6B6;
}

/* Pink */

#pinkNoise, #pinkNoiseWhiteOver, #pinkNoiseBrownOver, #pinkNoiseBlueOver, #pinkNoiseVioletOver, #pinkNoiseGreyOver {
    background-color: #ED43AB;
}

/* Brown */

#brownNoise, #brownNoiseWhiteOver, #brownNoisePinkOver, #brownNoiseBlueOver, #brownNoiseVioletOver, #brownNoiseGreyOver {
    background-color: #AA520F;
}

/* Blue */

#blueNoise, #blueNoiseWhiteOver, #blueNoisePinkOver, #blueNoiseBrownOver, #blueNoiseVioletOver, #blueNoiseGreyOver {
    background-color: #02B5EF;
}

/* Violet */

#violetNoise, #violetNoiseWhiteOver, #violetNoisePinkOver, #violetNoiseBrownOver, #violetNoiseBlueOver, #violetNoiseGreyOver {
    background-color: #7717C8;
}

/* Grey */

#greyNoise, #greyNoiseWhiteOver, #greyNoisePinkOver, #greyNoiseBrownOver, #greyNoiseBlueOver, #greyNoiseVioletOver {
    background-color: #B1B1B2;
}

/* Overlay Styles */

#whiteOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: #0d2c5e;
    color: #ffffff;
}

#pinkOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: #0d2c5e;
    color: #ED43AB;
}

#brownOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: #0d2c5e;
    color: #AA520F;
}

#blueOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: #0d2c5e;
    color: #02B5EF;
}

#violetOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: #0d2c5e;
    color: #7717C8;
}

#greyOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: #0d2c5e;
    color: #B1B1B2;
}

/* close button styles */

#closeWhite {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#closePink {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#closeBrown {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#closeBlue {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#closeViolet {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#closeGrey {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}
